*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
}
.wrapper{
    display: flex;
    position: relative;

}
.sidebar{
    background-color: rgb(27, 185, 233);

    box-sizing: border-box;
    box-sizing: content-box;
    width: 300px;
    height: 100vh;
    position: fixed;
}
.first{
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.sidebar ul li{
    text-decoration: none;

    height: 100%;
    list-style: none;
    margin-left: 20px;

}
.sidebar ul li:hover{
    background-color: rgb(240, 126, 126);
}
.sidebar ul li a{
    color: white;
    display: block;
}
.sidebar ul li a:hover{
    color: black;
}
.sidebar h2{
    text-align: center;
}
.disabled{
    color: black!important;
}
.bor{

    width: 600px;
    height: 600px;
    scroll-behavior: smooth;
    overflow-x: scroll;


}

form h3 a{
    color: black;
    text-decoration: none;
    list-style: none;
}

form h3 a:hover{
    color: black;
    background-color: rgb(27, 185, 233);
    text-decoration: none;
    list-style: none;
}
.coll{
    box-sizing: border-box;
    box-sizing: content-box;
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;



}

.coll p{
    margin: 5px 0 0 0 ;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 30px;
}
 
.coll img{
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: black;
}
.bor {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}
.bor input{
    margin: 0 15px  15px;
    width: 80%;
    padding: 5px;
}

#row{
    width: 100%;
    height: auto;
}

.dropdown-menu a {
    color: black!important;
}
.dropdown-menu a:hover{
    color: darkred!important;
    background-color: rgb(255, 176, 176)!important;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-left: 350px;

}
.mas{
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-top: 20%;
    text-align: left;
}
table{

    box-sizing: border-box;
    box-sizing: content-box;
    margin: auto;
    width: 100%;
    height: auto;
}

table tr{
    width: auto;
    height: auto;
}

.td,
.td h2{
    text-align: left;
    font-size: 25px;
    width: 600px;
    height: auto;
}

.td a{
    color: black;

}
.td a:hover{
    background-color: rgb(27, 185, 233);
    color: black;
    list-style: none;
    text-decoration: none;
}
table td, 
table th{
    width: auto;

    padding: 10px;
    margin: 0;
}
table tr:first-child{
    width: 20px;
    padding: 0;
    margin: 0;
    text-align: right;
    display: inline-block;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;

}

.img{
    width: 90%;
    height: auto;

}

.third iframe{
    width: 100%;
    height: 700px;
}



.second{
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.second p{
    text-align: left;
}

.inputt{


    z-index: 999;


    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 600px;
    height: 80px;
    padding: 10px;
    background-color: white;
}

.inputt button{
    padding: 10px 30px 10px 30px;
    margin-bottom: 14px;
}

.ul li{
    z-index: -1;
    text-decoration: none;
    text-align: right;
    list-style: none;
    width: 200px;
    padding: 9px;
    height: auto;
    border-radius: 25px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: lightgreen;
    margin-top: 20px;
    margin-right: 10px;
}
.ul{
    z-index: -1;
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    text-align: right;
    width: 100%;
}


.msg{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: left;
}

.bor{
    box-shadow: 2px -15px 30px 0px rgb(204, 202, 202);
}
.inputt{
    box-shadow: 2px 20px 30px 0px rgb(204, 202, 202);
}


.imggg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.lkl{
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    display: flex;
    margin-right: 15px;
}


@media screen and (max-height: 1000px){
    .inputt{
        bottom: 2%;
    }
}


@media screen and (max-height: 1100px){
    .inputt{
        bottom: 5%;
    }
}



@media screen and (max-height: 1200px){
    .inputt{
        bottom: 8%;
    }
}





@media screen and (max-height: 1300px){
    .inputt{
        bottom: 11%;
    }
}